// Custom styles.

/** AppCoda 译文中的自定义样式
 ****************************************************************************/

p > .note {
  background-color: #81B922;
  color: #fff;
  border-radius: 8px;
  padding: 16px;
}
